@model List<GetAllProductQueryResult>
@{
    ViewData["Title"] = "MediatorIndex";
}

<h1>MediatorIndex</h1>
<br />
<table class="table table-hover">
    <tr>
        <th>
            #
        </th>
         <th>
            Ürün
        </th>
        <th>
            Fiyat
        </th>
        <th>
            Stok
        </th>
        <th>
            Stok Tür
        </th>
        <th>
            Kategori
        </th>
        <th>
            Sil
        </th>
        <th>
            Düzenle
        </th>
        <th>
            Detay
        </th>
    </tr>
     @foreach (var item in Model)
    {
        <tr>
            <td>@item.ProductId</td>
            <td>@item.Name</td>
            <td>@item.Price</td>
            <td>@item.Stock</td>
            <td>@item.StockType</td>
            <td>@item.Category</td>
            <td><a href="~/Product/DeleteProduct/@item.ProductId" class="btn btn-danger">Sil</a></td>
            <td><a href="~/Product/UpdateProduct/@item.ProductId" class="btn btn-success">Düzenle</a></td>
            <td><a href="~/Product/GetById/@item.ProductId" class="btn btn-warning">Detay</a></td>
        </tr>
    }
</table>
<br />
<td><a href="~/Product/AddProduct" class="btn btn-primary">Yeni Ürün Ekle</a></td>


