
@{
    ViewData["Title"] = "StandartPlanIndex";
}

<div class="container">
    <br />
    <h3>Plan Adı : @ViewBag.v6</h3>
    <h3>Kişi Sayısı : @ViewBag.v7</h3>
    <h3>Plan Fiyatı : @ViewBag.v8</h3>
    <h3>Plan İçeriği : @ViewBag.v9</h3>
    <h3>Plan Çözünürlüğü : @ViewBag.v10</h3>
    <a href="~/Default/BasicPlanIndex" class="btn btn-warning">Basic Plan</a>
    <br />
    @*<a href="~/Default/UltraPlanIndex" class="btn btn-success">Ultra Plan</a>*@
</div>

